exportPattern("^[[:alpha:]]+")
import("stats")
import("utils")
import("graphics")
import("grDevices")
import("beanplot")
import("boot")
import("cluster")
import("date")
import("data.table")
import("dplyr")
import("lubridate")
import("lunar")
import("mapdata")
import("maps")
import("maptools")
import("mgcv")
import("nFactors")
import("splines")
